{% extends 'base.html.twig' %}

{% block title %}WistleChat - Login{% endblock %}

{% block body %}
<h1 class="title">Se connecter</h1>
<section id="login-form" class="section-container">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
              You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
      {% endif %}
      <div>
        <label for="inputEmail">Adresse email : </label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
      </div>
      <div>
        <label for="inputPassword">Mot de passe : </label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
      </div>

      <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
      >

      {#
          Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html

          <div class="checkbox mb-3">
              <label>
                  <input type="checkbox" name="_remember_me"> Remember me
              </label>
          </div>
      #}

      <button id="save" class="button" type="submit">
          Se connecter
      </button>
  </form>
</section>
{% endblock %}
