{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="title">S'inscrire</h1>

    <div id="register-form" class="section-container">
      {{ form_start(registrationForm) }}
          {{ form_row(registrationForm.email, {
            label: 'Adresse email : ',
            required: true
          }) }}
          {{ form_row(registrationForm.username, {
            label: 'Pseudo : '
          }) }}
          {{ form_row(registrationForm.firstname, {
            label: 'Prénom : '
          }) }}
          {{ form_row(registrationForm.lastname, {
            label: 'Nom : '
          }) }}
          {{ form_row(registrationForm.plainPassword, {
              label: 'Mot de passe',
              required: true
          }) }}
          {{ form_row(registrationForm.agreeTerms, {
            label: 'J\'accepte les conditions d\'utilisation'
          }) }}

          <button id="save" type="submit" class="button">S'inscrire</button>
      {{ form_end(registrationForm) }}
    </div>
{% endblock %}
