{% extends 'base.html.twig' %}

{% block title %}WistleChat - Edit Category{% endblock %}

{% block body %}
    <h1 class="title">Modifier la categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="div-container">
      <a class="button" href="{{ path('app_category_index') }}">Retourner sur la liste</a>
      {{ include('category/_delete_form.html.twig') }}
    <div>
{% endblock %}
