{% extends 'base.html.twig' %}

{% block title %}WistleChat - Categorie{% endblock %}

{% block body %}
    <section class="section-container">
      <h1 class="title">Les Catégories</h1>
      {% for category in categories %}
          <table class="table">
              <thead>
                <tr class="name">
                  <th>
                    <a href="{{ path('app_category_show', {id: category.id } ) }}">
                      <h2 class="title">
                        {{ category.name }}
                      </h2>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="tr-group">
                  <th class="th-group-1">sous-categorie</th>
                  <th class="th-group-2">sujets</th>
                  <th class="th-group-3">dernier sujet</th>
                </tr> 
                {% for board in category.board %}
                  <tr class="data">
                      <td class="td-data-1">

                        <a href="{{ path('app_board_show', {id: board.id } ) }}"> {{ board.name }} </a>
                        <p class="board-description"> {{ board.description|u.truncate(70, "...") }} </p>
                      </td>
                      <td class="td-data-2">
                        {{ board.subject|length }}
                      </td>                     
                      <td class="td-data-3">
                        {% if board.lastSubject is not null %}
                          {% set lastSubject = board.lastSubject %}
                          <a href="{{ path('app_subject_show', {id: lastSubject['id'] } ) }}">{{ lastSubject['name'] }} </a>
                          par 
                          {% if lastSubject['user'] is null %}
                            <span><a href="#">Compte supprimé</a>
                          {% else %}
                            <span><a href="{{ path('app_user_show', {id: board.id } ) }}">{{ lastSubject['user'] }}</a>
                          {% endif %}
                          </span> le <span>{{ lastSubject['createAt'] ? lastSubject['createAt']|date('Y-m-d H:i:s') : '' }}</span>
                        {% endif %}
                      </td>
                  </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="4">no records found</td>
                </tr>
            </tbody>
          </table>
        {% endfor %}
    </section>
        {# <a href="{{ path('app_category_new') }}">Create new</a> #}
{% endblock %}
