{% extends 'base.html.twig' %}

{% block title %}WistleChat - New Category{% endblock %}

{% block body %}
    <h1 class="title">Creer une nouvelle categorie</h1>

    {{ include('category/_form.html.twig') }}
    <div class="div-container">
      <a href="{{ path('app_category_index') }}">Retourner sur la liste</a>
    <div>
{% endblock %}
