{% extends 'base.html.twig' %}

{% block title %}WistleChat - Admin{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

<section class="section-container">
    <h1 class="title">Admin panel</h1>
    <div class="admin-route">
      {% for route in  adminRoutes %}
        <a href="{{ route }}"> {{ route }}</a>
      {% endfor %}
    </div>
</section>
{% endblock %}
