{% extends 'base.html.twig' %}

{% block title %}Files{% endblock %}

{% block body %}
    <h1>Files</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ file.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_files_index') }}">back to list</a>

    <a href="{{ path('app_files_edit', {'id': file.id}) }}">edit</a>

    {{ include('files/_delete_form.html.twig') }}
{% endblock %}
