<form method="post" action="{{ path('app_subject_delete', {'id': subject.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject.id) }}">
    <button class="button">Delete</button>
</form>
