{% extends 'base.html.twig' %}

{% block title %}WistleChat - Edit Subject{% endblock %}

{% block body %}
    <h1 class="title">Modifier le subjet</h1>

    {{ include('subject/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="div-container">
      <a class="button" href="{{ path('app_subject_index') }}">Retourner sur la liste</a>
      {{ include('subject/_delete_form.html.twig') }}
    <div>
{% endblock %}
