{% extends 'base.html.twig' %}

{% block title %}WistleChat - New Subject{% endblock %}

{% block body %}
    <h1 class="title">Create un nouveau subjet</h1>

    {{ include('subject/_form.html.twig') }}
    <div class="div-container">
      <a class="button" href="{{ path('app_subject_index') }}">Retourner sur la liste</a>
    <div>
{% endblock %}
