{% extends 'base.html.twig' %}

{% block title %}WistleChat - {{ subject.name }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <section class="section-container-subject"> 
        <h1 class="subject-title">{{ subject.name }}</h1>
        <div class="subject subject-content">
          <div class="subject-container">
            <h1 class="message-title">{{ subject.name }}</h1>
              {% if subject.user is null %}
                <p class="message-author"> par <a href="#">Compte supprimé</a> le {{ subject.getCreatedAt ? subject.getCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
              {% else %}
                <p class="message-author"> par <a href="{{ path('app_user_show', {id: subject.user.id }) }}">{{ subject.user }}</a> le {{ subject.getCreatedAt ? subject.getCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
              {% endif %}
            <p class="message-content">{{ subject.content }}</p>
          </div>
        </div>

        {% for message in subject.messages %}
          <div class="subject" id="{{ message.id }}">
            <div class="subject-container">
              <h1 class="message-title">Re : {{ subject.name }}</h1>
              {% if message.user is null %}
                <p class="message-author"> par <a href="#">Compte supprimé</a> le {{ message.getCreatedAt ? message.getCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
              {% else %}
                <p class="message-author"> par <a href="{{ path('app_user_show', {id: message.user.id }) }}">{{ message.user }}</a> le {{ message.getCreatedAt ? message.getCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
              {% endif %}
              <p class="message-content">{{ message.content }}</p>
              {% if message.files|length >= 1 %}
                {% for file in message.files %}
                  <a class="file" href="{{ message.getUploadUrl }}{{ file.name }}" target="_blank">{{ file.name }} </a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </section>

    <div class="subject">
      <div class="subject-container">
        <form method="POST" class="message-form" action="{{ path('app_message_new', {id: subject.id }) }}" enctype="multipart/form-data">

            <textarea placeholder="Votre message..." class="textarea" name="content" id="content" required></textarea>      
            <div class="form-bot">
               <input class="button-secondary" type="file" name="files[]" id="file" multiple />

                <input class="button" type="submit" value="Répondre" />
            </div>
           
        </form>
      </div>
    </div>
    <script> 
      window.onload = function() {
        // Get the url
        let currentUrl = new URL(window.location.href)
        // Get params "message"
        let scrollToId = currentUrl.searchParams.get("message");
        if(scrollToId) {
          document.getElementById(scrollToId).scrollIntoView();
        }
      };
    </script>
{% endblock %}
