body {
  background-color: white;
  width: 92vw;
  max-width: 1200px;
  min-width: 600px;
  margin: 10rem auto;
}

a {
  text-decoration: none;
}

.header {
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-top {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 5rem;
  margin: auto;
  align-items: center;
}

.header-top-logo {
  text-align: center;
  width: 13%;
}

.header-top-logo-img {
  width: 50px;
  height: 50px;
}

.header-top-logo-title {
  margin: 0;
  color: #7db1e1;
}

.header-top-title {
  color: #dfb189;
  font-size: 40px;
  font-weight: 500;
}

.header-top-account {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin{
  margin-top: 10px;
}

.header-top-account-login {
  display: flex;
  align-items: center;
}

.header-top-account-img {
  width: 20px;
  padding-right: 5px;
  color: #7db1e1;
}

.header-top-account-title {
  color: #7db1e1;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
}

.header-top-account-title:hover {
  color: #4783bb;
}

.navigation {
  /* width: 100vw; */
  background-color: #7db1e1;
  height: 2rem;
}

.navigation-list {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  margin: auto;
  list-style-type: none;
}

.navigation-list-item {
  height: 2rem;
}

.navigation-list-item a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 0.5rem;
  margin: 0 1rem;
  transition: all 0.2s ease-in-out;
}

.navigation-list-item a:hover {
  color: #ffd7b3;
}

.navigation-list-item a:active {
  transform: scale(0.9);
}

.navigation-list-item:not(:last-child) {
  border-right: 2px solid white;
}

.button {
  border: none;
  border-radius: 10px;
  background-color: #9bc8f3;
  padding: 0.5rem 1rem;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.button:hover {
  background-color: rgb(97, 179, 255);
  transform: scale(1.1);
}

.button:active {
  background-color: #9bc8f3;
  transform: scale(1);
}

.button-secondary {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  /* font-size: 20px; */
  transition: all 0.2s ease-in-out;
}

.button-secondary:hover {
  background-color: rgb(97, 179, 255);
}

.button-secondary:active {
  background-color: #9bc8f3;
}

.message-title {
  margin-bottom: 0;
}

.message-author {
  filter: opacity(0.6);
  border-bottom: 1px solid rgba(167, 167, 167, 0.596);
  padding-bottom: 0.5rem;
}

.message-author a {
  color: red;
  font-weight: bold;
}

.message-content {
  padding: .2rem;
}

.free-minotaure {
  display: flex;
  width: 94%;
  margin: 1rem auto;
  text-decoration: none;
}

.free-minotaure li {
  margin-right: 10px;
}

.free-minotaure li a{
  color: black;
}
