.section-container {
  background-color: #dff0ff;
  width: 90%;
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
}

.div-container {
  width: 90%;
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
  display: flex;
}

.div-container a {
  margin-right: auto;
}

.title {
  font-size: 30px;
  color: #dfb189;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(210deg 8% 90%);
}

.table {
  margin-bottom: 2rem;
  width: 100%;
  background-color: white;
}

tbody {
  border-radius: 0 0 10px 10px;
}

.table thead tr {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #dff0ff;
}

.name {
  background-color: #dff0ff;
  padding: 0;
}

.name a h2 {
  background-color: white;
  color: rgb(58, 132, 155);
  font-size: 25px;
  padding: 1rem;
  margin: 0;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border-radius: 10px 10px 0 0;
}

.name a h2:hover {
  color: #dfb189;
  box-shadow: 3px -2px 3px 1px #2455804d;
}

.table tbody {
  background-color: white;
}

.table tbody tr {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(210deg 8% 90%);
}

.table tbody tr td span a {
  color: red;
}

/* BOARD */

.board-description {
  color: rgba(37, 71, 87, 0.555);
  text-align: left;
}

/* ----------- */

.border-data {
  padding: 0 2rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* pour les tableaux */

.tr-group {
  border-bottom: 2px solid #dff0ff !important;
  font-size: 20px;
}

/*  groupe */
.th-group-1 {
  text-align: left;
  width: 46%;
}

.th-group-2 {
  text-align: center;
  width: 12%;
}

.th-group-3 {
  text-align: right;
  width: 46%;
}

/* data */
.td-data-1 {
  text-align: left;
  width: 46%;
}

.td-data-2 {
  text-align: center;
  width: 12%;
}

.td-data-3 {
  text-align: right;
  width: 46%;
}

.td-data-1 a {
  font-weight: 600;
  color: rgb(58, 132, 155);
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.td-data-1 a:hover {
  color: rgb(9, 37, 46);
}

.warn {
  margin-bottom: 10px;
  text-align: center;
}
