#user_profile{
  display: flex;
  flex-direction: column;
}

#user_profile div, 
#board div, 
#category div, 
#subject div, 
#register-form div,
#login-form div
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#user div {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#user_profile label, 
#board label, 
#category label, 
#user label, 
#subject label, 
#register-form label,
#login-form label
{
  width: 20%;
  display: flex;
  align-items: center;
}

#user_profile input,
#board input,
#category input,
#user input,
#subject input,
#register-form input,
#login-form input
{
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
}

#board select, #subject select {
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 20%;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

#subject textarea {
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 20%;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

#register-form #registration_form_agreeTerms {
  width: 19%;
}

#save {
  display: flex;
  margin: 2rem auto;
  flex-direction: row;
}