p,
h1,
h2 {
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 20px;
}

.subject {
  background-color: #dff0ff;
  width: 90%;
  border-radius: 20px;
  margin: auto;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}

.subject-title {
  font-size: 30px;
  color: #dfb189;
  font-weight: 600;
  width: 94%;
  margin: 0.5rem auto;
  border-bottom: 1px solid hsl(210deg 8% 90%);
}

.subject-content {
  background-color: #bce0ff;
}

.subject-container {
  display: flex;
  flex-direction: column;
}

.subject-container a.file {
  margin-bottom: .2rem;
}

.label-file {
  width: 100%;
}

input[type="file"] {
  margin-bottom: 0.5rem;
  width: 75%;
}

.file {
  width: 100%;
}

tbody {
  border-radius: 0 0 10px 10px;
}

.subject-container thead tr {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #dff0ff;
}

.subject-name {
  background-color: #dff0ff;
  padding: 0;
}

.subject-name a h2 {
  background-color: white;
  color: rgb(58, 132, 155);
  font-size: 25px;
  padding: 1rem;
  margin: 0;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  border-radius: 10px 10px 0 0;
}

.subject-name a h2:hover {
  color: #dfb189;
  box-shadow: 3px -2px 3px 1px #2455804d;
}

.subject-container tbody {
  background-color: white;
}

.subject-container tbody tr {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-container tbody tr td span a {
  color: red;
}

/* BOARD */

.board-description {
  color: rgba(37, 71, 87, 0.555);
  text-align: left;
}

/* ----------- */

.border-data {
  padding: 0 2rem;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* pour les tableaux */

.subject-group {
  border-bottom: 2px solid #dff0ff;
  font-size: 20px;
}

/*  groupe */
.subject-group-1 {
  text-align: left;
  width: 46%;
}

.subject-group-2 {
  text-align: center;
  width: 12%;
}

.subject-group-3 {
  text-align: right;
  width: 46%;
}

/* data */
.subject-data-1 {
  text-align: left;
  width: 46%;
}

.subject-data-2 {
  text-align: center;
  width: 12%;
}

.subject-data-3 {
  text-align: right;
  width: 46%;
}

.subject-data-1 a {
  font-weight: 600;
  color: rgb(58, 132, 155);
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.subject-data-1 a:hover {
  color: rgb(9, 37, 46);
}


/* MESSAGE */

.textarea {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: 97%;
  height: 120px;
  margin-bottom: 0.5rem;
  resize: none;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  font-size: 15px;
}

.textarea:hover {
  box-shadow: 0 1px 4px 4px white;
}

.textarea:focus {
  outline: none;
}

.form-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
