{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Content</th>
                <th>Files</th>
                <th>Create by</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ message.content|u.truncate(20, "...") }}</td>
                <td>{% for file in message.files %}
                  <img class="file" src="{{ uploadsDir }}{{ file.name }}">
                {% endfor %}
                </td>
                <td>{{ message.user }}</td>
                <td>
                    <a href="{{ path('app_message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_message_new') }}">Create new</a> #}
{% endblock %}
