<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WistleChat{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block arianeHeader %}
            {% set current_path = app.request.get('_route') %}
            {# This is shit.... #}
            {% if current_path is same as("app_board_show") %}
              <ol class="free-minotaure">
                <li><a href="{{ path('app_home') }}">Home</a> > </li>
                <li><a href="{{ path('app_category_show', {id: board.category.id } ) }}">{{ board.category }}</a> > </li>
                <li><a href="{{ path('app_board_show', {id: board.id }) }}">{{ board }}</a></li>
              </ol>
            {% endif %}            
            {% if current_path is same as("app_subject_show") %}
              <ol class="free-minotaure">
                <li><a href="{{ path('app_home') }}">Home</a> > </li>
                <li><a href="{{ path('app_category_show', {id: subject.board.category.id } ) }}">{{ subject.board.category }}</a> > </li>
                <li><a href="{{ path('app_board_show', {id: subject.board.id }) }}">{{ subject.board }}</a> > </li>
                <li><a href="{{ path('app_subject_show', {id: subject.id }) }}">{{ subject }}</a></li>
              </ol>
            {% endif %}
        {% endblock %}
        
        {% block nav %}
            <header class="header">
                <div class="header-top">
                    <a class="header-top-logo" href="{{ path('app_category_index') }}">
                        <img class="header-top-logo-img" src="{{ asset('build/images/logo.png') }}" alt="logo-wistle-chat">
                        <h2 class="header-top-logo-title">WistleChat</h2>
                    </a>
                    
                    <h1 class="header-top-title">Le forum de rien mais surtout de tout !</h1>
                    <div class="header-top-account">
                      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="login-register">
                          <a class="header-top-account-title" href="{{ path('app_login') }}">Connexion</a>
                          <a class="header-top-account-title" href="{{ path('app_register') }}">Inscription</a>
                        </div>
                      {% else %}
                        <div class="header-top-account-login">
                          <img class="header-top-account-img" src="{{ asset('build/images/account.svg') }}" alt="logo-wistle-chat">
                          <a class="header-top-account-title" href="{{ path('app_user_profile', {id: app.user.id }) }}" style="margin-right: 10px;" href="#">Mon Compte ({{ app.user }})</a>
                          <a class="header-top-account-title" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                          <a class="header-top-account-title admin" href="{{ path('app_admin') }}" style="margin-right: 10px;" href="#">Panel administration</a>
                        {% endif %}
                        </div>
                      {% endif %} 
                    </div>
                </div>
                <nav class="navigation">
                    <ul class="navigation-list">
                        <li class="navigation-list-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="navigation-list-item"><a href="#">Forum</a></li>
                        <li class="navigation-list-item"><a href="#">Décoration</a></li>
                        <li class="navigation-list-item"><a href="#">Lecture</a></li>
                        <li class="navigation-list-item"><a href="#">Entreprenariat</a></li>
                    </ul>
                </nav>

            </header>
        {% endblock %}
        {% block body %}
            
        {% endblock %}
    </body>
</html>
