<section class="section-container">
  {{ form_start(form) }}
      {{ form_widget(form) }}
      <button id="save" class="button">{{ button_label|default('Sauvegarder') }}</button>
  {{ form_end(form) }}
</section>