{% extends 'base.html.twig' %}

{% block title %}WistleChat - Edit Board{% endblock %}

{% block body %}
    <h1 class="title">Modifier le Board</h1>

    {{ include('board/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="div-container">
      <a class="button" href="{{ path('app_board_index') }}">Retourner sur la liste</a>
      {{ include('board/_delete_form.html.twig') }}
    <div>
{% endblock %}
