{% extends 'base.html.twig' %}

{% block title %}WistleChat - New Board{% endblock %}

{% block body %}
    <h1 class="title">Creer un nouveau Board</h1>

    {{ include('board/_form.html.twig') }}
    <div class="div-container">
      <a class="button" href="{{ path('app_board_index') }}">Retourner sur la liste</a>
    <div>
{% endblock %}
