{% extends 'base.html.twig' %}

{% block title %}WistleChat - {{ board.name }}{% endblock %}

{% block body %}
    <section class="section-container">
      <h1 class="title">{{ board.name }}</h1>
      <table class="table">
        <tbody>
          <tr class="tr-group">
              <th class="th-group-1">sujets</th>
              <th class="th-group-2">messages</th>
              <th class="th-group-3">dernier message</th>
          </tr> 
          {% for subject in board.subject %}
          <tr class="data">
              <td class="td-data-1">
                  <a href="{{ path('app_subject_show', {id: subject.id } ) }}"> {{ subject.name }} </a>
                  <p class="board-description"> {{ subject.content|u.truncate(100, "...") }} </p>
              </td>
              <td class="td-data-2">
                {# +1 beacause the first message is the content of subject #}
                {{ subject.messages| length + 1  }}
              </td>
              <td class="td-data-3">
              {# Show last message, if no is set, display the content of the subject #}
                  {% if subject.lastMessage is not null %}
                    {% set lastMessage = subject.lastMessage %}
                    <a href="{{ path('app_subject_show', {id: subject.id } ) }}">{{ lastMessage['name']|u.truncate(15, "...") }} </a>
                    par 
                    {% if lastMessage['user'] is null %}
                      <span><a href="#">Compte supprimé</a>
                    {% else %}
                      <span><a href="{{ path('app_user_show', {id: lastMessage['user'].id } ) }}">{{ lastMessage['user'] }}</a>
                    {% endif %}
                    </span> le <span>{{ lastMessage['createAt'] ? lastMessage['createAt']|date('Y-m-d H:i:s') : '' }}</span>
                  {% else %}
                    <a href="{{ path('app_subject_show', {id: subject.id } ) }}">{{ subject.content|u.truncate(15, "...") }} </a>
                    par 
                    {% if subject.user is null %}
                      <span><a href="">Compte supprimé</a>
                    {% else %}
                      <span><a href="{{ path('app_user_show', {id: subject.user.id } ) }}">{{ subject.user }}</a>
                    {% endif %}
                    </span> le <span>{{ subject.getCreatedAt ? subject.getCreatedAt|date('Y-m-d H:i:s') : '' }}</span>
                  {% endif %}
              </td>
          </tr>
          {% else %}
          <tr>
              <td colspan="4">no records found</td>
          </tr>
          {% endfor %}
            
        </tbody>
      </table>

            {# {% endfor %} #}
      <a href="{{ path('app_subject_new') }}" class="button">Créer un nouveau sujet</a>
    </section>
{% endblock %}
