{% extends 'base.html.twig' %}

{% block title %}WistleChat - Edit User{% endblock %}

{% block body %}
    <h1 class="title">Modifier l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="div-container">
      <a class="button" href="{{ path('app_user_index') }}">Retourner sur la liste</a>
      {{ include('user/_delete_form.html.twig') }}
    <div>
{% endblock %}
