{% extends 'base.html.twig' %}

{% block title %}WistleChat - Profile{% endblock %}

{% block body %}
    <h1 class="title">Profile</h1>
    <h3 class="warn">{{ infoSystem }} <h3>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
