{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <div class="div-container"> 
    {% if is_granted('ROLE_ADMIN') %}
      <a class="button" href="{{ path('app_user_index') }}">Retourner à la liste</a>
      <a class="button" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
      {{ include('user/_delete_form.html.twig') }}
    {% else %}
      <a class="button" href="{{ app.request.headers.get('referer') }}">Retour</a>
    {% endif %} 
    </div>
{% endblock %}
